<div class="row">
  <div class="col-sm-4">
    <img src="img/discover-dummy1.png" alt="" class="img-responsive img-responsive--fill" />
  </div>
  <div class="col-sm-4">
    <img src="img/discover-dummy2.png" alt=""  class="img-responsive img-responsive--fill" />
  </div>
  <div class="col-sm-4">
    <img src="img/discover-dummy3.png" alt="" class="img-responsive img-responsive--fill" />
  </div>
</div>