<li data-target="#carousel-example-generic" data-slide-to="{{@index}}"
	class="epg__item{{#if startpoint}} active{{/if}}">
	<div class="media">
	      <a class="pull-left fixed-square-xs" href="#">
	        <img class="media-object img-responsive round" src="/img/alts/square/{{uniqueid}}.jpg" alt="...">
	      </a>
          <div class="media-body">
            <h5 class="media-heading">{{programmetitle}}</h5>
            <p class="text-meta">{{episodetitle}}</p>
          </div>
     </div>
</li>