<div class="play-container-base play-footer-position-bottom-fix">
    <div class="play-container">
        <section class="play-videolist-group">
            <div class="play-videolist" id="popular-videos">
                <div class="play-videolist-section-header">
                    <h1 class="play-h3">{{title}}</h1>
                    <div class="play_js-expand-videolist play-videolist-expand-button">
                        <span class="play-videolist-expand-button-text play-text-bold">Visa
                        alla</span>
                    </div>
                </div>

                <div class="play-videolist-container-outer playJsVideoList svtlibSlidableList" id="playJs-popular-videos">
                    
                <button class="play-slidablelist-arrow svtlibSlidableListArrow is-left" tabindex="-1"></button>

    <button class="play-slidablelist-arrow svtlibSlidableListArrow is-right is-visible" tabindex="-1"></button>
                    <div class="play-slidablelist-fade is-right"></div>

                    <div class="play-videolist-container-inner playJsVideoListItemContainer svtlibSlidableListContainer kinetic-active"
                    style="cursor: move;">
                        <article class=
                        "playJsInfo-Core playJsInfo-Hover playPositionRelative play-videolist-element svtUnit svtNth-1"
                        data-title="Tjockare än vatten - Del 4 av 10" data-description="Del 4 av 10. Lasse får inte ut några försäkringspengar efter restaurangbranden och fordringsägarna kommer till pensionatet. Oskar blir svartsjuk när…" data-length="58 min" data-available="70 dagar kvar" data-broadcasted="mån 17 feb" data-published="" data-broadcaststarttime="" data-closedcaptioned="true">

            <div class="play-videolist-element-inner">
                        <a href="/video/1819788/del-4-av-10" class="play-videolist-element-link playLink playIELinkFix playJsGridItem play-link-decoration-none">
                <div class="playJsInfo-ImageContainer play-videolist-container-thumbnail">
                                            <noscript>
    &lt;img class="play-videolist-thumbnail play-link-sub-img" alt="" src="http://www.svt.se/cachable_image/1389192612000/tjockare-an-vatten/article1717444.svt/ALTERNATES/medium/tjockare-an-vatten-logga-992.jpg"/&gt;
</noscript>
<img class="play-videolist-thumbnail play-link-sub-img play-hide-no-js" data-responsive-maxsize="medium" data-aspect-ratio="16_9" data-screen-fraction="0.25" data-imagename="http://www.svt.se/cachable_image/1389192612000/tjockare-an-vatten/article1717444.svt/ALTERNATES/medium/tjockare-an-vatten-logga-992.jpg" alt="" src="http://www.svt.se/cachable_image/1389192612000/tjockare-an-vatten/article1717444.svt/ALTERNATES/medium/tjockare-an-vatten-logga-992.jpg" data-src-attribute="data-src" data-initialized="true">                                                      </div>
                <h2 class="play-h5">
                                                                <span class="play-videolist-heading play-link-sub">
                                                                                                                                                <span>
                                    Tjockare än vatten
                                </span>
                                                                                                            </span>
                                                    <span class="play-typo-bread playx-block playx-color-white">Del 4 av 10</span>
                                                            </h2>
            </a>
        </div>
        </article>

                        <article class=
                        "playJsInfo-Core playJsInfo-Hover playPositionRelative play-videolist-element svtUnit svtNth-2"
                        data-available="46 dagar kvar" data-broadcasted="ons 12 feb"
                        data-broadcaststarttime="" data-closedcaptioned="true"
                        data-description=
                        "Del 4 av 6. I kväll överraskar Jill Johnson den gästande artisten Marit Bergman med en resa till countryns absoluta ursprung, bergskedjan Appalacherna…"
                        data-length="58 min" data-published="" data-title=
                        "Jills veranda, Nashville - Del 4 av 6: Marit Bergman">
                            <div class="play-videolist-element-inner">
                                <a class=
                                "play-videolist-element-link playLink playIELinkFix playJsGridItem play-link-decoration-none"
                                href="/video/1808559/del-4-av-6-marit-bergman"></a>

                                <div class=
                                "playJsInfo-ImageContainer play-videolist-container-thumbnail">
                                <noscript>&lt;img class="play-videolist-thumbnail
                                play-link-sub-img" alt=""
                                src="http://www.svt.se/cachable_image/1391441146000/svtplay/article1007410.svt/ALTERNATES/medium/gameofthrones_affisch992.jpg"/&gt;</noscript>
                                <img alt="" class=
                                "play-videolist-thumbnail play-link-sub-img play-hide-no-js"
                                data-aspect-ratio="16_9" data-imagename=
                                "http://www.svt.se/cachable_image/1391441146000/svtplay/article1007410.svt/ALTERNATES/medium/gameofthrones_affisch992.jpg"
                                data-initialized="true" data-responsive-maxsize="medium"
                                data-screen-fraction="0.25" src=
                                "http://www.svt.se/cachable_image/1391441146000/svtplay/article1007410.svt/ALTERNATES/medium/gameofthrones_affisch992.jpg">
                                </div>

                                <h2 class="play-h5"><span class=
                                "play-videolist-heading play-link-sub">Jills veranda,
                                Nashville</span> <span class=
                                "play-typo-bread playx-block playx-color-white">Del 4 av 6:
                                Marit Bergman</span></h2>
                            </div>
                        </article>

                        <article class=
                        "playJsInfo-Core playJsInfo-Hover playPositionRelative play-videolist-element svtUnit svtNth-3"
                        data-available="15 timmar kvar" data-broadcasted="lör 15 feb"
                        data-broadcaststarttime="" data-closedcaptioned="false"
                        data-description=
                        "Melodifestivalens tredje deltävling direktsänds i kväll från Göteborg. På plats finns programledarna Nour El Refai och Anders Jansson. De åtta…"
                        data-length="1 h 28 min" data-published="" data-title=
                        "Melodifestivalen 2014 - Deltävling 3">
                            <div class="play-videolist-element-inner">
                                <a class=
                                "play-videolist-element-link playLink playIELinkFix playJsGridItem play-link-decoration-none"
                                href="/video/1761493/deltavling-3"></a>

                                <div class=
                                "playJsInfo-ImageContainer play-videolist-container-thumbnail">
                                <noscript>&lt;img class="play-videolist-thumbnail
                                play-link-sub-img" alt=""
                                src="http://www.svt.se/cachable_image/1380811530000/svts/article1299768.svt/ALTERNATES/medium/Logga_14_1024x576.jpg"/&gt;</noscript>
                                <img alt="" class=
                                "play-videolist-thumbnail play-link-sub-img play-hide-no-js"
                                data-aspect-ratio="16_9" data-imagename=
                                "http://www.svt.se/cachable_image/1380811530000/svts/article1299768.svt/ALTERNATES/medium/Logga_14_1024x576.jpg"
                                data-initialized="true" data-responsive-maxsize="medium"
                                data-screen-fraction="0.25" src=
                                "http://www.svt.se/cachable_image/1380811530000/svts/article1299768.svt/ALTERNATES/medium/Logga_14_1024x576.jpg">
                                </div>

                                <h2 class="play-h5"><span class=
                                "play-videolist-heading play-link-sub">Melodifestivalen
                                2014</span> <span class=
                                "play-typo-bread playx-block playx-color-white">Deltävling
                                3</span></h2>
                            </div>
                        </article>

                        <article class=
                        "playJsInfo-Core playJsInfo-Hover playPositionRelative play-videolist-element svtUnit svtNth-4"
                        data-available="2 dagar kvar" data-broadcasted="mån 20 jan"
                        data-broadcaststarttime="" data-closedcaptioned="false"
                        data-description=
                        "Årets Guldbaggeutdelning från Cirkus i Stockholm. SVT direktsänder när den röda mattan rullas ut för våra största svenska filmstjärnor. Och 2014-års…"
                        data-length="1 h 59 min" data-published="" data-title=
                        "Guldbaggen 2014">
                            <div class="play-videolist-element-inner">
                                <a class=
                                "play-videolist-element-link playLink playIELinkFix playJsGridItem play-link-decoration-none"
                                href="/video/1730121/guldbaggen-2014"></a>

                                <div class=
                                "playJsInfo-ImageContainer play-videolist-container-thumbnail">
                                <noscript>&lt;img class="play-videolist-thumbnail
                                play-link-sub-img" alt=""
                                src="http://www.svt.se/cachable_image/1389700472000/guldbaggen/article1730237.svt/ALTERNATES/medium/guldbaggen_affisch2014.jpg"/&gt;</noscript>
                                <img alt="" class=
                                "play-videolist-thumbnail play-link-sub-img play-hide-no-js"
                                data-aspect-ratio="16_9" data-imagename=
                                "http://www.svt.se/cachable_image/1389700472000/guldbaggen/article1730237.svt/ALTERNATES/medium/guldbaggen_affisch2014.jpg"
                                data-initialized="true" data-responsive-maxsize="medium"
                                data-screen-fraction="0.25" src=
                                "http://www.svt.se/cachable_image/1389700472000/guldbaggen/article1730237.svt/ALTERNATES/medium/guldbaggen_affisch2014.jpg">
                                </div>

                                <h2 class="play-h5"><span class=
                                "play-videolist-heading play-link-sub">Guldbaggen
                                2014</span></h2>
                            </div>
                        </article>

                        <article class=
                        "playJsInfo-Core playJsInfo-Hover playPositionRelative play-videolist-element svtUnit svtNth-1"
                        data-available="333 dagar kvar" data-broadcasted="tor 16 jan"
                        data-broadcaststarttime="" data-closedcaptioned="true"
                        data-description=
                        "Aron Flam, Henrik Dorsin och David Druid har gjort den enda genomgången av våra politiska och ekonomiska institutioner som du behöver. Till sin hjälp…"
                        data-length="3 min 4 sek" data-published="" data-title=
                        "Folkets främsta företrädare - Del 11 av 12: Sverigedemokraterna">
                            <div class="play-videolist-element-inner">
                                <a class=
                                "play-videolist-element-link playLink playIELinkFix playJsGridItem play-link-decoration-none"
                                href="/video/1729333/del-11-av-12-sverigedemokraterna"></a>

                                <div class=
                                "playJsInfo-ImageContainer play-videolist-container-thumbnail">
                                <noscript>&lt;img class="play-videolist-thumbnail
                                play-link-sub-img" alt=""
                                src="http://www.svt.se/cachable_image/1389692588000/folkets-framsta-foretradare/article1729792.svt/ALTERNATES/medium/fff_svdemo.jpg"/&gt;</noscript>
                                <img alt="" class=
                                "play-videolist-thumbnail play-link-sub-img play-hide-no-js"
                                data-aspect-ratio="16_9" data-imagename=
                                "http://www.svt.se/cachable_image/1389692588000/folkets-framsta-foretradare/article1729792.svt/ALTERNATES/medium/fff_svdemo.jpg"
                                data-initialized="true" data-responsive-maxsize="medium"
                                data-screen-fraction="0.25" src=
                                "http://www.svt.se/cachable_image/1389692588000/folkets-framsta-foretradare/article1729792.svt/ALTERNATES/medium/fff_svdemo.jpg">
                                </div>

                                <h2 class="play-h5"><span class=
                                "play-videolist-heading play-link-sub">Folkets främsta
                                företrädare</span> <span class=
                                "play-typo-bread playx-block playx-color-white">Del 11 av
                                12: Sverigedemokraterna</span></h2>
                            </div>
                        </article>

                        <article class=
                        "playJsInfo-Core playJsInfo-Hover playPositionRelative play-videolist-element svtUnit svtNth-2"
                        data-available="29 dagar kvar" data-broadcasted="sön 9 feb"
                        data-broadcaststarttime="" data-closedcaptioned="true"
                        data-description=
                        "Del 1 av 2. I ett industriområde bevittnar ett ungt kärlekspar en kraftig explosion. Brinnande kroppsdelar landar på bilens motorhuv och den makabra…"
                        data-length="1 h 28 min" data-published="" data-title=
                        "Ettor och nollor - Del 1 av 2">
                            <div class="play-videolist-element-inner">
                                <a class=
                                "play-videolist-element-link playLink playIELinkFix playJsGridItem play-link-decoration-none"
                                href="/video/1795302/del-1-av-2"></a>

                                <div class=
                                "playJsInfo-ImageContainer play-videolist-container-thumbnail">
                                <noscript>&lt;img class="play-videolist-thumbnail
                                play-link-sub-img" alt=""
                                src="http://www.svt.se/cachable_image/1391084792000/ettor-och-nollor/article1772350.svt/ALTERNATES/medium/ettornollor-affish.jpg"/&gt;</noscript>
                                <img alt="" class=
                                "play-videolist-thumbnail play-link-sub-img play-hide-no-js"
                                data-aspect-ratio="16_9" data-imagename=
                                "http://www.svt.se/cachable_image/1391084792000/ettor-och-nollor/article1772350.svt/ALTERNATES/medium/ettornollor-affish.jpg"
                                data-initialized="true" data-responsive-maxsize="medium"
                                data-screen-fraction="0.25" data-src-attribute="data-src"
                                src=
                                "http://www.svt.se/cachable_image/1391084792000/ettor-och-nollor/article1772350.svt/ALTERNATES/medium/ettornollor-affish.jpg">
                                </div>

                                <h2 class="play-h5"><span class=
                                "play-videolist-heading play-link-sub">Ettor och
                                nollor</span> <span class=
                                "play-typo-bread playx-block playx-color-white">Del 1 av
                                2</span></h2>
                            </div>
                        </article>

                        <article class=
                        "playJsInfo-Core playJsInfo-Hover playPositionRelative play-videolist-element svtUnit svtNth-3"
                        data-available="86 dagar kvar" data-broadcasted="tor 13 feb"
                        data-broadcaststarttime="" data-closedcaptioned="true"
                        data-description=
                        "Det är mer än fyrtio år sedan och historien är nästan glömd, den om Inger Svensson, en ung kvinna från Öland som ville bli präst när motståndet mot…"
                        data-length="58 min" data-published="" data-title=
                        "Och förlåt oss våra skulder">
                            <div class="play-videolist-element-inner">
                                <a class=
                                "play-videolist-element-link playLink playIELinkFix playJsGridItem play-link-decoration-none"
                                href="/video/1806646/och-forlat-oss-vara-skulder"></a>

                                <div class=
                                "playJsInfo-ImageContainer play-videolist-container-thumbnail">
                                <noscript>&lt;img class="play-videolist-thumbnail
                                play-link-sub-img" alt=""
                                src="http://www.svt.se/cachable_image/1392372594000/dokumentarfilm/article1817024.svt/ALTERNATES/medium/DOK-Forlat-oss-vara-skulder_mall2.jpg"/&gt;</noscript>
                                <img alt="" class=
                                "play-videolist-thumbnail play-link-sub-img play-hide-no-js"
                                data-aspect-ratio="16_9" data-imagename=
                                "http://www.svt.se/cachable_image/1392372594000/dokumentarfilm/article1817024.svt/ALTERNATES/medium/DOK-Forlat-oss-vara-skulder_mall2.jpg"
                                data-initialized="true" data-responsive-maxsize="medium"
                                data-screen-fraction="0.25" data-src-attribute="data-src"
                                src=
                                "http://www.svt.se/cachable_image/1392372594000/dokumentarfilm/article1817024.svt/ALTERNATES/medium/DOK-Forlat-oss-vara-skulder_mall2.jpg">
                                </div>

                                <h2 class="play-h5"><span class=
                                "play-videolist-heading play-link-sub">Och förlåt oss våra
                                skulder</span></h2>
                            </div>
                        </article>

                        <article class=
                        "playJsInfo-Core playJsInfo-Hover playPositionRelative play-videolist-element svtUnit svtNth-4"
                        data-available="27 dagar kvar" data-broadcasted="fre 7 feb"
                        data-broadcaststarttime="" data-closedcaptioned="true"
                        data-description=
                        "Del 12 av 13. I kväll är det dags för andra semifinalen. Helena von Zweigbergk och Göran Everdahl möter Eric Ericson och Kjell Wilhelmsen. Musikartist…"
                        data-length="58 min" data-published="" data-title=
                        "På spåret - Del 12 av 13">
                            <div class="play-videolist-element-inner">
                                <a class=
                                "play-videolist-element-link playLink playIELinkFix playJsGridItem play-link-decoration-none"
                                href="/video/1794270/del-12-av-13"></a>

                                <div class=
                                "playJsInfo-ImageContainer play-videolist-container-thumbnail">
                                <noscript>&lt;img class="play-videolist-thumbnail
                                play-link-sub-img" alt=""
                                src="http://www.svt.se/cachable_image/1360067688000/svts/article1006941.svt/ALTERNATES/medium/pa_sparet992.png"/&gt;</noscript>
                                <img alt="" class=
                                "play-videolist-thumbnail play-link-sub-img play-hide-no-js"
                                data-aspect-ratio="16_9" data-imagename=
                                "http://www.svt.se/cachable_image/1360067688000/svts/article1006941.svt/ALTERNATES/medium/pa_sparet992.png"
                                data-initialized="true" data-responsive-maxsize="medium"
                                data-screen-fraction="0.25" data-src-attribute="data-src"
                                src=
                                "http://www.svt.se/cachable_image/1360067688000/svts/article1006941.svt/ALTERNATES/medium/pa_sparet992.png">
                                </div>

                                <h2 class="play-h5"><span class=
                                "play-videolist-heading play-link-sub">På spåret</span>
                                <span class=
                                "play-typo-bread playx-block playx-color-white">Del 12 av
                                13</span></h2>
                            </div>
                        </article>

                        <article class=
                        "playJsInfo-Core playJsInfo-Hover playPositionRelative play-videolist-element svtUnit svtNth-1"
                        data-available="2 dagar kvar" data-broadcasted="ons 12 feb"
                        data-broadcaststarttime="" data-closedcaptioned="true"
                        data-description=
                        "Fransk dokumentär från 2013. Näst efter luft och vatten är sand vår vanligaste råvara. Men sand håller på att bli en bristvara. Jakten på den rätta…"
                        data-length="52 min" data-published="" data-title="Sandkriget">
                            <div class="play-videolist-element-inner">
                                <a class=
                                "play-videolist-element-link playLink playIELinkFix playJsGridItem play-link-decoration-none"
                                href="/video/1461872/sandkriget"></a>

                                <div class=
                                "playJsInfo-ImageContainer play-videolist-container-thumbnail">
                                <noscript>&lt;img class="play-videolist-thumbnail
                                play-link-sub-img" alt=""
                                src="http://www.svt.se/cachable_image/1392375997000/dokument-utifran/article1817321.svt/ALTERNATES/medium/DOK-Sandkriget_mall.jpg"/&gt;</noscript>
                                <img alt="" class=
                                "play-videolist-thumbnail play-link-sub-img play-hide-no-js"
                                data-aspect-ratio="16_9" data-imagename=
                                "http://www.svt.se/cachable_image/1392375997000/dokument-utifran/article1817321.svt/ALTERNATES/medium/DOK-Sandkriget_mall.jpg"
                                data-initialized="true" data-responsive-maxsize="medium"
                                data-screen-fraction="0.25" data-src-attribute="data-src"
                                src=
                                "http://www.svt.se/cachable_image/1392375997000/dokument-utifran/article1817321.svt/ALTERNATES/medium/DOK-Sandkriget_mall.jpg">
                                </div>

                                <h2 class="play-h5"><span class=
                                "play-videolist-heading play-link-sub">Sandkriget</span></h2>
                            </div>
                        </article>

                        <article class=
                        "playJsInfo-Core playJsInfo-Hover playPositionRelative play-videolist-element svtUnit svtNth-2"
                        data-available="46 dagar kvar" data-broadcasted="ons 29 jan"
                        data-broadcaststarttime="" data-closedcaptioned="true"
                        data-description=
                        "Del 2 av 6: Kakan Hermansson. I kväll får det traditionstyngda och konservativa Nashville en prövning när Kakan Hermansson, lesbisk feminist, besöker…"
                        data-length="59 min" data-published="" data-title=
                        "Jills veranda, Nashville - Del 2 av 6: Kakan Hermansson">
                            <div class="play-videolist-element-inner">
                                <a class=
                                "play-videolist-element-link playLink playIELinkFix playJsGridItem play-link-decoration-none"
                                href="/video/1769611/del-2-av-6-kakan-hermansson"></a>

                                <div class=
                                "playJsInfo-ImageContainer play-videolist-container-thumbnail">
                                <noscript>&lt;img class="play-videolist-thumbnail
                                play-link-sub-img" alt=""
                                src="http://www.svt.se/cachable_image/1389696171000/jills-veranda/article1730055.svt/ALTERNATES/medium/jillsaffisch_992.jpg"/&gt;</noscript>
                                <img alt="" class=
                                "play-videolist-thumbnail play-link-sub-img play-hide-no-js"
                                data-aspect-ratio="16_9" data-imagename=
                                "http://www.svt.se/cachable_image/1389696171000/jills-veranda/article1730055.svt/ALTERNATES/medium/jillsaffisch_992.jpg"
                                data-initialized="true" data-responsive-maxsize="medium"
                                data-screen-fraction="0.25" data-src-attribute="data-src"
                                src=
                                "http://www.svt.se/cachable_image/1389696171000/jills-veranda/article1730055.svt/ALTERNATES/medium/jillsaffisch_992.jpg">
                                </div>

                                <h2 class="play-h5"><span class=
                                "play-videolist-heading play-link-sub">Jills veranda,
                                Nashville</span> <span class=
                                "play-typo-bread playx-block playx-color-white">Del 2 av 6:
                                Kakan Hermansson</span></h2>
                            </div>
                        </article>

                        <article class=
                        "playJsInfo-Core playJsInfo-Hover playPositionRelative play-videolist-element svtUnit svtNth-3"
                        data-available="46 dagar kvar" data-broadcasted="ons 5 feb"
                        data-broadcaststarttime="" data-closedcaptioned="true"
                        data-description=
                        "Del 3 av 6. Sjungande cikador, knarriga verandor och fascinerande livsöden. Artisten Jill Johnson tar oss med till countryns hemstad Nashville i USA.…"
                        data-length="58 min" data-published="" data-title=
                        "Jills veranda, Nashville - Del 3 av 6: Skizz">
                            <div class="play-videolist-element-inner">
                                <a class=
                                "play-videolist-element-link playLink playIELinkFix playJsGridItem play-link-decoration-none"
                                href="/video/1789736/del-3-av-6-skizz"></a>

                                <div class=
                                "playJsInfo-ImageContainer play-videolist-container-thumbnail">
                                <noscript>&lt;img class="play-videolist-thumbnail
                                play-link-sub-img" alt=""
                                src="http://www.svt.se/cachable_image/1389696171000/jills-veranda/article1730055.svt/ALTERNATES/medium/jillsaffisch_992.jpg"/&gt;</noscript>
                                <img alt="" class=
                                "play-videolist-thumbnail play-link-sub-img play-hide-no-js"
                                data-aspect-ratio="16_9" data-imagename=
                                "http://www.svt.se/cachable_image/1389696171000/jills-veranda/article1730055.svt/ALTERNATES/medium/jillsaffisch_992.jpg"
                                data-initialized="true" data-responsive-maxsize="medium"
                                data-screen-fraction="0.25" data-src=
                                "http://www.svt.se/cachable_image/1389696171000/jills-veranda/article1730055.svt/ALTERNATES/medium/jillsaffisch_992.jpg"
                                data-src-attribute="data-src" src=
                                "http://www.svt.se/statiskt/skins/svt/css/img/responsiveimage/16_9.png">
                                </div>

                                <h2 class="play-h5"><span class=
                                "play-videolist-heading play-link-sub">Jills veranda,
                                Nashville</span> <span class=
                                "play-typo-bread playx-block playx-color-white">Del 3 av 6:
                                Skizz</span></h2>
                            </div>
                        </article>

                        <article class=
                        "playJsInfo-Core playJsInfo-Hover playPositionRelative play-videolist-element svtUnit svtNth-4"
                        data-available="52 dagar kvar" data-broadcasted="tis 11 feb"
                        data-broadcaststarttime="" data-closedcaptioned="true"
                        data-description=
                        "Del 5 av 9: Den 4 maj 2013 försvann 20-åriga Vatchareeya i samband med ett besök hos en 22-årig manlig bekant i Boden. Efter stora sökoperationer…"
                        data-length="58 min" data-published="" data-title=
                        "Veckans brott - Del 5 av 9">
                            <div class="play-videolist-element-inner">
                                <a class=
                                "play-videolist-element-link playLink playIELinkFix playJsGridItem play-link-decoration-none"
                                href="/video/1805661/del-5-av-9"></a>

                                <div class=
                                "playJsInfo-ImageContainer play-videolist-container-thumbnail">
                                <noscript>&lt;img class="play-videolist-thumbnail
                                play-link-sub-img" alt=""
                                src="http://www.svt.se/cachable_image/1381151117000/veckans-brott/article1513133.svt/ALTERNATES/medium/vbrott_nyaffisch.jpg"/&gt;</noscript>
                                <img alt="" class=
                                "play-videolist-thumbnail play-link-sub-img play-hide-no-js"
                                data-aspect-ratio="16_9" data-imagename=
                                "http://www.svt.se/cachable_image/1381151117000/veckans-brott/article1513133.svt/ALTERNATES/medium/vbrott_nyaffisch.jpg"
                                data-initialized="true" data-responsive-maxsize="medium"
                                data-screen-fraction="0.25" data-src=
                                "http://www.svt.se/cachable_image/1381151117000/veckans-brott/article1513133.svt/ALTERNATES/medium/vbrott_nyaffisch.jpg"
                                data-src-attribute="data-src" src=
                                "http://www.svt.se/statiskt/skins/svt/css/img/responsiveimage/16_9.png">
                                </div>

                                <h2 class="play-h5"><span class=
                                "play-videolist-heading play-link-sub">Veckans brott</span>
                                <span class=
                                "play-typo-bread playx-block playx-color-white">Del 5 av
                                9</span></h2>
                            </div>
                        </article>

                        <article class=
                        "playJsInfo-Core playJsInfo-Hover playPositionRelative play-videolist-element svtUnit svtNth-1"
                        data-available="58 dagar kvar" data-broadcasted="mån 27 jan"
                        data-broadcaststarttime="" data-closedcaptioned="true"
                        data-description=
                        "I åtta program följs åtta husdrömmar - villor, vindsvåningar, nybyggen och renoveringar. Arkitekten Gert Wingårdh synar husen och Pernilla Månsson…"
                        data-length="58 min" data-published="" data-title=
                        "Husdrömmar - Del 1 av 8">
                            <div class="play-videolist-element-inner">
                                <a class=
                                "play-videolist-element-link playLink playIELinkFix playJsGridItem play-link-decoration-none"
                                href="/video/1756786/del-1-av-8"></a>

                                <div class=
                                "playJsInfo-ImageContainer play-videolist-container-thumbnail">
                                <noscript>&lt;img class="play-videolist-thumbnail
                                play-link-sub-img" alt=""
                                src="http://www.svt.se/cachable_image/1390828046000/husdrommar/article1761427.svt/ALTERNATES/medium/husdrommar-affish.jpg"/&gt;</noscript>
                                <img alt="" class=
                                "play-videolist-thumbnail play-link-sub-img play-hide-no-js"
                                data-aspect-ratio="16_9" data-imagename=
                                "http://www.svt.se/cachable_image/1390828046000/husdrommar/article1761427.svt/ALTERNATES/medium/husdrommar-affish.jpg"
                                data-initialized="true" data-responsive-maxsize="medium"
                                data-screen-fraction="0.25" data-src=
                                "http://www.svt.se/cachable_image/1390828046000/husdrommar/article1761427.svt/ALTERNATES/medium/husdrommar-affish.jpg"
                                data-src-attribute="data-src" src=
                                "http://www.svt.se/statiskt/skins/svt/css/img/responsiveimage/16_9.png">
                                </div>

                                <h2 class="play-h5"><span class=
                                "play-videolist-heading play-link-sub">Husdrömmar</span>
                                <span class=
                                "play-typo-bread playx-block playx-color-white">Del 1 av
                                8</span></h2>
                            </div>
                        </article>

                        <article class=
                        "playJsInfo-Core playJsInfo-Hover playPositionRelative play-videolist-element svtUnit svtNth-2"
                        data-available="24 dagar kvar" data-broadcasted="tis 11 feb"
                        data-broadcaststarttime="" data-closedcaptioned="false"
                        data-description=
                        "Straffkoloni nummer 56 är Rysslands hårdaste fängelse. Där finns 260 fångar. Alla är dömda för mord. För första gången har ett filmteam kunnat…"
                        data-length="1 h 19 min" data-published="" data-title=
                        "De fördömda">
                            <div class="play-videolist-element-inner">
                                <a class=
                                "play-videolist-element-link playLink playIELinkFix playJsGridItem play-link-decoration-none"
                                href="/video/1805662/de-fordomda"></a>

                                <div class=
                                "playJsInfo-ImageContainer play-videolist-container-thumbnail">
                                <noscript>&lt;img class="play-videolist-thumbnail
                                play-link-sub-img" alt=""
                                src="http://www.svt.se/cachable_image/1392035326000/dox/article1803671.svt/ALTERNATES/medium/The_condemned_mall.jpg"/&gt;</noscript>
                                <img alt="" class=
                                "play-videolist-thumbnail play-link-sub-img play-hide-no-js"
                                data-aspect-ratio="16_9" data-imagename=
                                "http://www.svt.se/cachable_image/1392035326000/dox/article1803671.svt/ALTERNATES/medium/The_condemned_mall.jpg"
                                data-initialized="true" data-responsive-maxsize="medium"
                                data-screen-fraction="0.25" data-src=
                                "http://www.svt.se/cachable_image/1392035326000/dox/article1803671.svt/ALTERNATES/medium/The_condemned_mall.jpg"
                                data-src-attribute="data-src" src=
                                "http://www.svt.se/statiskt/skins/svt/css/img/responsiveimage/16_9.png">
                                </div>

                                <h2 class="play-h5"><span class=
                                "play-videolist-heading play-link-sub">De
                                fördömda</span></h2>
                            </div>
                        </article>

                        <article class=
                        "playJsInfo-Core playJsInfo-Hover playPositionRelative play-videolist-element svtUnit svtNth-3"
                        data-available="5 dagar kvar" data-broadcasted="lör 15 feb"
                        data-broadcaststarttime="" data-closedcaptioned="false"
                        data-description=
                        "Del 3 av 3: His Last Vow. Sherlock blir indragen i en hjärnornas kamp när den mäktige antagonisten Charles Augustus Magnussen förfogar fritt över…"
                        data-length="1 h 29 min" data-published="" data-title=
                        "Sherlock - Del 3 av 3: His Last Vow">
                            <div class="play-videolist-element-inner">
                                <a class=
                                "play-videolist-element-link playLink playIELinkFix playJsGridItem play-link-decoration-none"
                                href="/video/1817136/del-3-av-3-his-last-vow"></a>

                                <div class=
                                "playJsInfo-ImageContainer play-videolist-container-thumbnail">
                                <noscript>&lt;img class="play-videolist-thumbnail
                                play-link-sub-img" alt=""
                                src="http://www.svt.se/cachable_image/1345625403000/svts/article248246.svt/ALTERNATES/medium/sherlock_affisch.jpg"/&gt;</noscript>
                                <img alt="" class=
                                "play-videolist-thumbnail play-link-sub-img play-hide-no-js"
                                data-aspect-ratio="16_9" data-imagename=
                                "http://www.svt.se/cachable_image/1345625403000/svts/article248246.svt/ALTERNATES/medium/sherlock_affisch.jpg"
                                data-initialized="true" data-responsive-maxsize="medium"
                                data-screen-fraction="0.25" data-src=
                                "http://www.svt.se/cachable_image/1345625403000/svts/article248246.svt/ALTERNATES/medium/sherlock_affisch.jpg"
                                data-src-attribute="data-src" src=
                                "http://www.svt.se/statiskt/skins/svt/css/img/responsiveimage/16_9.png">
                                </div>

                                <h2 class="play-h5"><span class=
                                "play-videolist-heading play-link-sub">Sherlock</span>
                                <span class=
                                "play-typo-bread playx-block playx-color-white">Del 3 av 3:
                                His Last Vow</span></h2>
                            </div>
                        </article>

                        <article class=
                        "playJsInfo-Core playJsInfo-Hover playPositionRelative play-videolist-element svtUnit svtNth-4"
                        data-available="19 dagar kvar" data-broadcasted="tor 6 feb"
                        data-broadcaststarttime="" data-closedcaptioned="false"
                        data-description=
                        "Allt fler barn diagnostiseras med ADHD. Viktor, Martine och Marino går i en specialklass i Köpenhamn där man beslutat sig för att pröva en alternativ…"
                        data-length="57 min" data-published="" data-title="Jag hatar ADHD">
                            <div class="play-videolist-element-inner">
                                <a class=
                                "play-videolist-element-link playLink playIELinkFix playJsGridItem play-link-decoration-none"
                                href="/video/1791201/jag-hatar-adhd"></a>

                                <div class=
                                "playJsInfo-ImageContainer play-videolist-container-thumbnail">
                                <noscript>&lt;img class="play-videolist-thumbnail
                                play-link-sub-img" alt=""
                                src="http://www.svt.se/cachable_image/1391704751000/dokumentarfilm/article1794332.svt/ALTERNATES/medium/DOK-ADHD_mall.jpg"/&gt;</noscript>
                                <img alt="" class=
                                "play-videolist-thumbnail play-link-sub-img play-hide-no-js"
                                data-aspect-ratio="16_9" data-imagename=
                                "http://www.svt.se/cachable_image/1391704751000/dokumentarfilm/article1794332.svt/ALTERNATES/medium/DOK-ADHD_mall.jpg"
                                data-initialized="true" data-responsive-maxsize="medium"
                                data-screen-fraction="0.25" data-src=
                                "http://www.svt.se/cachable_image/1391704751000/dokumentarfilm/article1794332.svt/ALTERNATES/medium/DOK-ADHD_mall.jpg"
                                data-src-attribute="data-src" src=
                                "http://www.svt.se/statiskt/skins/svt/css/img/responsiveimage/16_9.png">
                                </div>

                                <h2 class="play-h5"><span class=
                                "play-videolist-heading play-link-sub">Jag hatar
                                ADHD</span></h2>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>