<div class="video-wrapper carousel-inner__videomax">
	<iframe class="video-wrapper__object" src="http://www.svtplay.se/video/{{id}}/?type=embed&position=0"
		seamless
		frameborder="0"
		scrolling="no"
		allowfullscreen
		style="width:100%;height:{{height}}px">
	</iframe>
</div>