<!-- SPLASH -->
<div class="svt234-Splash splashHide">
	<h2 class="svt234-SplashHeader">
		SVT 234

	</h2>
	<div class="progress">
		<div class="progress-bar" role="progressbar" style="width:0%;"></div>
	</div>
	<p class="svt234-SplashContext">Snart startar en lite roligare, lite varmare kanal</p>
</div>

<!-- Main Video -->
<div class="svt234-MainVideo splashHide">
	<div id="carousel-example-generic" class="carousel slide svt234Content" data-ride="carousel" data-interval="false">

	    <!-- Wrapper for slides -->
	    <div class="carousel-inner">

	        {{#each videos}}
	          {{> video_item }}
	        {{/each}}

	    </div>

	    <!-- Controls -->
	    <a class="left carousel-control hidden-xs" href="#carousel-example-generic" data-slide="prev">
	    	<!--div class="circle">
	        	<i>Se föregående</i> <span class="fa fa-arrow-left fa-2x"></span>&nbsp;&nbsp;
	        </div-->
	    </a>
	    <a class="right carousel-control hidden-xs" href="#carousel-example-generic" data-slide="next">
	        <!--div class="circle slideleft">
	        	&nbsp;&nbsp;<span class="fa fa-arrow-right fa-2x"></span> <i>Se nästa</i>
	        </div-->
	    </a>
	</div>

	<div class="svt234-Overlay svt234-VideoInfo">
		<h4>Girls</h4>
		<span class="title">Säsong 2 - Avsnitt 15: ond tystnad</span>
		<a href="#" class="se-more">Allt från Girls</a>
	</div>

	<div class="svt234-Overlay svt234-VideoLogo">
		<img src="/img/logo.png" alt="SVT 234" />
	</div>

	<div class="svt234-Overlay svt234-VideoControlls">
		<a href="#" class="text-hide video-close">Stäng</a>
		<a href="#" class="text-hide video-next">Nästa</a>
	</div>
</div>