<!-- SPLASH -->
<div class="svt234-Splash splashHide">

	<div class="svt234-SplashHeader">
		<img src="/img/splash-text.png" alt="SVT 234" />
	</div>
	<div class="progress">
		<div class="progress-bar" role="progressbar" style="width:0%;"></div>
	</div>
	<!--p class="svt234-SplashContext">Snart startar en lite roligare, lite varmare kanal</p-->
</div>

<!-- PAGE -->
<div class="svt234Page splashHide hidden">
	<!-- HEAD BAR -->
	<nav class="navbar navbar-default navbar--tabla" role="navigation">
	  <div class="svt234Content">
	    <div class="inner-header">
	    	<img src="/img/topbar.png" alt="" style="margin-top:6px;" />
	    </div>
	  </div>
	</nav>

	<!-- INFO -->
	<div class="svt234-Info">
		<img class="svt234-logo" src="/img/logo-page.png" alt="" />
		<img class="svt234-info" src="/img/page-text.png" alt="" />
	</div>

	<!-- PLAYLIST -->
	<div class="svt234Container " style="position: relative">
	  <div class="epg-arrows">
	      <a href="#" class="left jsScrollLeft"><i class="fa fa-angle-left fa-4x"></i></a>
	      <a href="#" class="right jsScrollRight"><i class="fa fa-angle-right fa-4x"></i></a>
	  </div>

	 <div class="now-playing">
     	Nu spelas
     </div>

	  <div id="epg" class="epg">

	  	<ol class="carousel-indicators epg__list">
	  	{{#each videos}}
	        {{> playlist_item }}
	  	{{/each}}
	  	</ol>

	  </div>

	  <div class="svt234-PlaylistInfo">
	  	<div class="innerInfo">
	  		<div class="progress">
				<div class="progress-bar" role="progressbar" style="width:20%;"></div>
			</div>
	  		<span class="category">svensk sci-fi</span>
	  		<p class="title-info">
	  			Svensk dramathriller som följer några människor vars liv förändras dramatiskt av den nya generationen robotar – hubotarna.
	  		</p>
	  		<button type="button" class="watch">Börja titta</button>
	  	</div>
	  </div>
	</div>

	<!-- KATEGORIER -->
	<div class="svt234Content svt234-Categorys">
		<h3>Kategorikanaler</h3>
		<ul class="list-inline">
			<li>
				<a href="#">Krim</a>
			</li>
			<li>
				<a href="#">RomCom</a>
			</li>
			<li>
				<a href="#">Korta program</a>
			</li>
		</ul>
	</div>
</div>


<!-- Main Video -->
<div class="svt234-MainVideo splashHide">
	<div id="carousel-example-generic" class="carousel slide svt234Content" data-ride="carousel" data-interval="false">

	    <!-- Wrapper for slides -->
	    <div class="carousel-inner">

	        {{#each videos}}
	          {{> video_item }}
	        {{/each}}

	    </div>

	</div>

	<div class="svt234-Overlay svt234-VideoLogo">
		<img src="/img/logo.png" alt="SVT 234" />
	</div>

	<!-- CONTROLS -->
	<div class="svt234-Overlay svt234-VideoControlls">
		<a href="#" class="text-hide video-close">Stäng</a>
		<a href="#carousel-example-generic" class="video-next" data-slide="next">
			<span class="next-title"></span>
			<span class="next-episode"></span>
		</a>
		<a href="#carousel-example-generic" class="video-prev" data-slide="prev">
			<span class="next-title"></span>
			<span class="next-episode"></span>
		</a>
	</div>
</div>