<!-- SPLASH -->
<div class="svt234-Splash splashHide">

	<div class="svt234-SplashHeader">
		<img src="/img/splash-text.png" alt="SVT 234" />
	</div>
	<div class="progress">
		<div class="progress-bar" role="progressbar" style="width:0%;"></div>
	</div>
	<!--p class="svt234-SplashContext">Snart startar en lite roligare, lite varmare kanal</p-->
</div>

<!-- PAGE -->
<div class="svt234Page splashHide hidden">
	<!-- HEAD BAR -->
	<nav class="navbar navbar-default navbar--tabla" role="navigation">
	  <div class="svt234Content">
	    <div class="inner-header">
	    	<!--img src="/img/topbar.png" alt="" style="margin-top:6px; float:left;" /-->
	    	<div class="menu">

	    		<ul class="list-unstyled list-inline">
	    			<li class="active">
	    				<div class="btn-group">
						  <button type="button" class="btn btn-menu">Titta</button>
						  <button type="button" class="btn btn-menu dropdown-toggle" data-toggle="dropdown">Dagens tablå
						    <i class="fa fa-caret-down"></i>
						    <span class="sr-only">Toggle Dropdown</span>
						  </button>
						  <ul id="jsShowDay" class="dropdown-menu">
						      <li><a href="#">Måndag</a></li>
					          <li><a href="#">Tisdag</a></li>
					          <li><a href="#">Igår</a></li>
					          <li class="active"><a href="#">Idag</a></li>
					          <li><a href="#">I morgon</a></li>
					          <li><a href="#">Lördag</a></li>
					          <li><a href="#">Söndag</a></li>
						  </ul>
						</div>
	    			</li>
	    			<li><a class="btn btn-menu">Hitta</a></button></li>
	    			<li><a class="btn btn-menu">Upptäck</a></button></li>
	    		</ul>

	    	</div>

	    	<div class="search">
	    		<span class="fa fa-search"></span>
	    		<input type="input" role="search" placeholder="sök" />
	    	</div>
	    </div>
	  </div>
	</nav>

	<div id="days">
		<div class="days-list">
			<ul class="list-unstyled list-inline">
	          <!--<li class="heading">Tablå</li>-->
	          <li><a href="#">Måndag</a></li>
	          <li><a href="#">Tisdag</a></li>
	          <li><a href="#">Igår</a></li>
	          <li class="active"><a href="#">Idag</a></li>
	          <li><a href="#">I morgon</a></li>
	          <li><a href="#">Lördag</a></li>
	          <li><a href="#">Söndag</a></li>
	          <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Välj datum <b class="caret"></b></a>
	            <ul class="dropdown-menu">
	              <li><a href="#">Lördag 25 jan</a></li>
	              <li><a href="#">Söndag 26 jan</a></li>
	              <li><a href="#">Måndag 27 jan</a></li>
	              <li><a href="#">Tisdag 28 jan</a></li>
	              <li><a href="#">Onsdag 29 jan</a></li>
	              <li class="divider"></li>
	              <li><a href="#">Hitta program</a></li>
	            </ul>
	          </li>
	        </ul>
        </div>
    </div>
	<!-- INFO -->
	<!--div class="svt234-Info">
		<img class="svt234-logo" src="/img/logo-page.png" alt="" />
		<img class="svt234-info" src="/img/page-text.png" alt="" />
	</div-->

	<!-- PLAYLIST -->
	<div class="fulwrapper">
		<div class="svt234Container svt234InfoContainer">
		  <div class="epg-arrows">
		      <a href="#" class="left jsScrollLeft"><i class="fa fa-angle-left fa-5x"></i></a>
		      <a href="#" class="right jsScrollRight"><i class="fa fa-angle-right fa-5x"></i></a>
		  </div>

		 <div class="now-playing">
	     	Nu spelas
	     </div>

		  <div id="epg" class="epg">

		  	<ol class="carousel-indicators epg__list">
		  	{{#each videos}}
		        {{> playlist_item }}
		  	{{/each}}
		  	</ol>

		  </div>

		  <!--div class="svt234-PlaylistInfo splashHide">
		  	<div class="innerInfo">
		  		<h3>Jills Veranda</h3>
		  		<span class="category">underhållning</span>
		  		<p class="title-info">
		  			Svensk dramathriller som följer några människor vars liv förändras dramatiskt av den nya generationen robotar – hubotarna.
		  		</p>
		  		<button type="button" class="watch">spela</button>
		  	</div>

		  	<a class="close-view text-hide">
				Stäng
			</a>
		  </div-->
		</div>
	</div>
	
	<div class="svt234-middle">
		<img class="svt234-logo" src="/img/logo-page.png" alt="" />
	</div>

	<!-- KATEGORIER -->
	<!--div class="svt234Content svt234-Categorys">
		<div class="category-wrapper">
			<h3>Kategorikanaler</h3>
			<ul class="list-inline">
				<li>
					<a href="#">Krim</a>
				</li>
				<li>
					<a href="#">RomCom</a>
				</li>
				<li>
					<a href="#">Korta program</a>
				</li>
			</ul>
		</div>
	</div-->

	<div class="dummy-bottom">
		<img src="/img/dummy-recommend.png" alt="" />
	</div>
</div>


<!-- Main Video -->
<div class="svt234-MainVideo splashHide">
	<div id="carousel-example-generic" class="carousel slide svt234Content" data-ride="carousel" data-interval="false">

	    <!-- Wrapper for slides -->
	    <div class="carousel-inner">

	        {{#each videos}}
	          {{> video_item }}
	        {{/each}}

	    </div>

	</div>

	<div class="svt234-Overlay svt234-VideoLogo">
		<img src="/img/logo.png" alt="SVT 234" />
	</div>

	<!-- CONTROLS -->
	<div class="svt234-Overlay svt234-Close">
		<a href="#" class="text-hide video-close">Stäng</a>
	</div>
	<div class="svt234-Overlay svt234-VideoControlls">

		<a href="#carousel-example-generic" class="video-next" data-slide="next">
			<span class="next-title"></span>
			<span class="next-episode"></span>
		</a>
		<a href="#carousel-example-generic" class="video-prev" data-slide="prev">
			<span class="next-title"></span>
			<span class="next-episode"></span>
		</a>
	</div>

	<!-- OVERLAY 2 -->
	<div class="svt234-Overlay svt234-More hideview">
		<h4 class="title">Girls - Säsong 2</h4>
		<p class="byline">Komediserie om fyra tjejer i New York</p>
		<div class="row">
			<div class="col-sm-3">
				<img class="img-responsive--fill" src="/img/alts/large/baargrrrls.jpg" alt="" />
				<h5>Avsnitt 8: <span>Hey yo</span></h5>
			</div>
			<div class="col-sm-3">
				<img class="img-responsive--fill" src="/img/alts/large/baargrrrls.jpg" alt="" />
				<h5>Avsnitt 8: <span>Hey yo</span></h5>
			</div>
			<div class="col-sm-3">
				<img class="img-responsive--fill" src="/img/alts/large/baargrrrls.jpg" alt="" />
				<h5>Avsnitt 8: <span>Hey yo</span></h5>
			</div>
			<div class="col-sm-3">
				<img class="img-responsive--fill" src="/img/alts/large/baargrrrls.jpg" alt="" />
				<h5>Avsnitt 8: <span>Hey yo</span></h5>
			</div>
		</div>

		<a class="close-view text-hide">
			Stäng
		</a>
	</div>
</div>