<!DOCTYPE html>
<!--[if (lte IE 7)&!(IEMobile)]> <html xmlns:fb="http://www.facebook.com/2008/fbml" lang="sv" class="no-js ieLte8 ieLte7 no-share"> <![endif]-->
<!--[if (IE 8)&!(IEMobile)]> <html xmlns:fb="http://www.facebook.com/2008/fbml" lang="sv" class="no-js ieLte8 no-share"> <![endif]-->
<!--[if IE 9 ]> <html lang="sv" class="no-js ie9 no-share"> <![endif]-->
<!--[if IEMobile]> <html lang="sv" class="no-js ieMobile no-share"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="sv" class="no-js no-share"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>SVT Play - Sveriges Television</title>
	<meta name="Author" content="Sveriges Television AB, Stockholm, Sweden"/>
	<meta name="Description" content="Se dina favoritprogram n&amp;auml;r du vill i SVT Play - fri television p&amp;aring; n&amp;auml;tet."/>

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<meta name="format-detection" content="telephone=no">
	<!--[IEMobile]>
	<meta name="MobileOptimized" content="width"/> <![endif]-->

	<meta property="og:site_name" content="SVT Play">
	<meta property="fb:app_id" content="148312058533095">
	<meta property="og:title" content="SVT Play - Sveriges Television"/>
	<meta property="og:description" content="Se dina favoritprogram n&amp;auml;r du vill i SVT Play - fri television p&amp;aring; n&amp;auml;tet."/>
	<meta name="Keywords" content="svt, play, svtplay, program, tv, television"/>
    <meta name="robots" content="noindex, nofollow"/>

                    
<!--[if (lte IE 8)&!(IEMobile)]>
<link rel="stylesheet" href="//beta.svtplay.se/public/stylesheets/iestyle.css" type="text/css"/>
<![endif]-->
<!--[if (gte IE 9)|(IEMobile)|!(IE)]><!-->
<link rel="stylesheet" href="//beta.svtplay.se/public/stylesheets/style.css" type="text/css"/>
<![endif]-->
<script src="//beta.svtplay.se/public/javascripts/libs/modernizr.custom.19670.js" type="text/javascript"></script>
                    
		<link rel="alternate" type="application/rss+xml" title="Senaste program" href="http://www.svtplay.se/rss.xml"/>
<link rel="alternate" type="application/atom+xml" title="Senaste program" href="http://www.svtplay.se/atom.xml"/>
<link href="/css/stylesheets/mvp.css" rel="stylesheet" media="screen">
</head>
  <body class="beta-body">
    
    {{{body}}}

    <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="//beta.svtplay.se/public/javascripts/libs/jquery-1.8.1.min.js"><\/script>')</script><script type="text/javascript" src="//beta.svtplay.se/public/javascripts/require-optimized.js"></script>
	<script type="text/javascript" src="//beta.svtplay.se/public/javascripts/script-built.js"></script>   
    <script id="slidable-list" type="text/x-handlebars-template">
    	{{{template_include "slideable-list.hbs"}}}
    </script>
    <script>
    	$(function() {
		  	// Handler for .ready() called.
		  	$( "a" ).click(function(e) {
				alert( "Tack. Fungerar inte i denna demo!" );
				e.preventDefault();
			});
		});
    	// alert("HELLO");
    </script>
  </body>
</html>
