<article class="playJsInfo-Core playPositionRelative play-videolist-element svtUnit svtNth-1">
		<div class="play-videolist-element-inner">		
				<div class="playJsInfo-ImageContainer play-videolist-container-thumbnail hbs-info">
					<p>{{txt}}</p>
				</div>
		</div>
</article>