<div class="hbs svtMediaBlock">
	<div class="svtMBFig-O-R-R-R">
		<img src="{{img}}" />
	</div>
	<div class="svtMediaBlockText">
		<h2 class="mvp-h1">{{title}}</h2>
		<h4 class="mvp-h4">{{tagline}}</h4>
		<p class="mvp-lead">{{text}}</p>
	</div>
</div>