@import "compass";
@import "theme-variables";


html, body {
	height:100%;
    min-height:100%;
}
body {
	padding: 0; // 60px 0;
	background-color: #fdfbed;
}
body.framer {
	background-image: url("/img/bg-framer.png");
	background-repeat:repeat-x;
}
footer.footer {
	margin-top: 5em;
}

em {
	font-weight: bold;
}
// HIDE MENU
.navbar-fixed-top {
	display: none;
}
/// HELPERS ////
.max-xs {
	width: 20%;
	max-width: 80px;
}
.fixed-square-xs {
	@include transition(all 0.2s ease-out);
	width: 62px;
	height: 62px;
	display:block;
	margin: 0 auto;
	position: relative;

	.round {
		@include transition(opacity 0.2s ease-out);
		opacity: 1;
	}
}
.hider {
	display: none !important;
}
.margin-bottom {
	padding-bottom: 5px;
}
a.no-underline:hover {
	text-decoration: none !important;
}
.round {
	@include border-radius(3em, 3em);
}
/// IFRAME ////
	.wrap {
		height: 100%;
	    margin: 0;
	    padding: 0;
	    padding-right: 90px;
	    // background: #f5f;
	    overflow:hidden;
	}

	.main {
	    margin: 0 -90px 0 auto;
	    width: 100%;
	    height: 100%;
	    float:right;
	    // background: red;
	}

	.sidebar {
	    width: 90px;
	    float: left;
	    height: 32px;
	    // background-color: #ed6160;
	    // background: black;

	}

	.theiframe {
		float: right;
		height: 100%;
		width: 100%;
		overflow: hidden;
		-webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;

	    // width: 30%;
	}
	.theiframe--narrow {
		width: 30%;
	}

	.discover-area {
		display: none;
		margin-top: 55px;
		padding-left: 10px;
		float: left;
		width: 68%;
	}

/*
.theiframewrapper {
	position: relative;
	height: 100%;
	width: auto;
	background-color: red;
	.theiframe {
		float: right;
		height: 100%;
		width: 100%;
		overflow: hidden;
		-webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	}
	.theiframe--narrow {
		width: 360px;
	}
}
*/

/* SPLASH */
.svt234-Splash {

	@include transition(opacity 0.3s ease-in-out);
	@include opacity(1);

	text-align: center;
	margin: auto;
	max-width: 50%;
	height:50%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;


	.svt234-SplashHeader {
		font-size: 7rem;
	}

	.svt234-SplashContext {
		font-size: 30px;
	}

	.progress {
		height: 2px;
		margin: 40px auto;
	}

	.progress-bar {
		@include transition-duration(2.5s);
		-webkit-transition-timing-function: linear;
		transition-timing-function: linear;

		background-color: #ff7372;
	}
}

/* MAIN PAGE */
.svt234Page {
	@include transition(opacity 0.3s ease-in-out);
	@include opacity(1);

	width: 100%;
	position:absolute;
	z-index:50;

	.svt234-middle {
		width: 100%;
		//margin-top: 250px;
		background: #ecebe1;
		height: 60px;


		-webkit-box-shadow: inset 0px -3px 8px 0px rgba(169, 168, 169, 0.1);
		box-shadow:         inset 0px -3px 8px 0px rgba(169, 168, 169, 0.1);
	}

	.svt234-logo {
		float: right;
		margin-top: 20px;
		margin-right: 120px;

	}

	.svt234-Info {
		width: 80%;
		margin: 30px auto 60px;

		.svt234-info {
			clear: both;
			display: block;
			margin: 0 auto;
			padding-top: 20px;
		}
	}

	.svt234-PlaylistInfo {
		@include transition(opacity 0.3s ease-in-out);
		@include opacity(1);

		position: relative;
		color: #fff;
		width: 100%;
		background-color: rgba(111, 111, 106, 0.9);
		text-align: center;
		min-height: 245px;

		h3 {
			font-style: italic;
			font-weight: 200;
			font-size: 28px;
			margin-bottom: 5px;
		}
		.innerInfo {
			max-width: 620px;
			margin: 0 auto;
			padding-top: 20px;
			font-weight: 100;
			line-height: 1.2;
		}

		.category {
			display: block;
			margin:0 auto;
			color: #c8c8c8;
			font-size: 11px;
			text-transform: uppercase;
		}

		.title-info {
			font-size: 18px;
			margin: 25px 0 15px;
		}

		.watch {
			border: none;
			background: #05ccd1;
			border-radius: 20px;
			color: #fff;
			line-height: 1;
			padding: 7px 19px;
			margin: 10px 0 20px;
			font-size: 14px;
			font-weight: 200;
			text-transform: uppercase;
			background-image: linear-gradient(14deg, #494a4b 0%, #494a4b 50%, #404143 51%);
		}

		.progress {
			height: 2px;
			max-width: 278px;
			margin: 0 auto 20px;
		}

		.close-view {
			position: absolute;
			top: 40px;
			right: 100px;
			background-image: url('/img/close-info.png');
			background-repeat: no-repeat;
			background-position: center;
			width: 27px;
			height: 27px;
			cursor: pointer;
		}
	}

	.svt234InfoContainer {
		@include transition(all 0.8s ease-in-out);
		background-size: cover;
		min-height: 415px;
		max-height: 415px;
	}
}

/* MAIN VIDEO */
.svt234-MainVideo {
	@include transition(opacity 0.3s ease-in-out);
	@include opacity(1);

	background-color: #000;
	height: 100%;
	position: relative;
	z-index:60;
	overflow: hidden;

	.carousel,
	.carousel-inner {
		position:relative;
    	min-width:100%;
    	min-height:100%;
    	height: 100%;
	}

	.carousel-inner > .item {
		position:absolute;
		z-index:1;
    	min-width:100%;
    	min-height:100%;
    	background-size:cover;
	}

	.carousel-inner > .active {

	}
	.carousel-inner > .item img {
		width: 100%;
	}

	.fluid-width-video-wrapper {
		position: static;
	}

	.title {
		color: #fff;
		font-size: 42px;
		font-weight: 100;
		margin-top: 0;
		margin-bottom: 3px;
	}
}

.svt234-Overlay {
	position: absolute;
	z-index: 100;
}

.svt234-More {
	@include transition(bottom 0.3s ease-in-out);
	background: rgba(20,20,20, .9);
	color: #fff;
	width: 100%;
	bottom: 0;
	padding: 40px 100px;

	.byline {
		font-size: 14px;
		font-weight: 100;
		color: #cacaca;
		margin-bottom: 25px;
	}

	.title {
		margin-bottom: 10px;
	}

	h5 {
		font-size: 14px;
		font-weight: 100;
		color: #cacaca;

		span {
			font-weight: 300;
			color: #fff;
		}
	}

	.close-view {
		position: absolute;
		top: 51px;
		right: 100px;
		background-image: url('/img/video-ctrl-close.png');
		background-repeat: no-repeat;
		background-position: center;
		width: 30px;
		height: 30px;
	}

	&.hideview {
		bottom: -100%;
	}
}

	%A_svt234-Controll {
		width: 80px;
		height: 80px;
		background-color: #2d2d2d;
		display: block;
		overflow: hidden;
		margin-bottom: 2px;
		float: right;
		clear: right;
	}

.svt234-VideoLogo {
	right: 35px;
	bottom: 35px;
}

.svt234-Close {
	top: 35px;
	right: 0;
}
.video-close {
	@extend %A_svt234-Controll;
	background-image: url('/img/video-ctrl-close.png');
	background-repeat: no-repeat;
	background-position: center;
}

.svt234-VideoControlls {
	top: 50%;
	right: 0;
	margin-top: -80px;




	.next-title,
	.next-episode {
		display: block;
		color: #fff;
		margin-right: 18px;
		white-space:nowrap;
	}

	.next-episode {
		font-size: 12px;
		font-style: italic;
		color: #d2d2d2;
	}

	.video-next,
	.video-prev {
		@extend %A_svt234-Controll;
		@include transition(width 0.2s ease-in-out);

		background-repeat: no-repeat;
		background-position: 29px;
		padding:22px 0 0 80px;
		text-decoration: none;
	}

	.video-prev {
		background-image: url('/img/video-ctrl-prev.png');

		&:hover {
			width: 100%;
		}
	}

	.video-next {
		background-image: url('/img/video-ctrl-play.png');

		&:hover {
			width: 100%;
		}
	}
}

.svt234-VideoInfo {

	left: 35px;
	top: 35px;

	.episode {
		color: #fff;
		font-weight: 100;
		font-style: italic;
	}

	.se-more {
		display: inline-block;
		color: #fff;
		margin: 10px 0 0;
		background: #26221f;
		padding: 20px;
	}
}

.svt234-Categorys {
	padding-top: 40px!important;

	text-align: center;
	background: #fdfbed;


	h3 {
		color: #656565;
		font-size: 26px;
		margin:0 auto 20px;
		font-weight: 200;
	}

	li {
		background: transparent url('/img/tag.png') no-repeat left center;
		padding-left: 20px;
		padding-right: 10px;

		a {
			color: #666;
			font-size: 18px;
			text-decoration: none;
			border-bottom: 1px dotted #cbc297;
		}
	}

	.category-wrapper {
		border-bottom: 1px solid #f0eee0;
		max-width: 961px;
		margin: 0 auto;
		padding-bottom: 40px;
	}
}

.dummy-bottom {
	background: #fdfbed;
	padding: 50px 0;

	img {
		display: block;
		margin: 0 auto;
	}
}

.now-playing {
	@include transition-property(opacity, top);
	@include transition-duration(.2s);

	transition-timing-function: ease-in-out;

	@include opacity(1);
	display:inline-block;
	position: absolute;
	top: -30px;
	color: #fff;
	text-transform: uppercase;
	background: #595c6f;
	font-size: 11px;
	padding: 3px 5px 2px;
	left: 50%;

	&.playhide {
		@include opacity(0);
		top: -27px;
	}
}
.now-playing:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: #595c6f;
	border-width: 5px;
	margin-left: -5px;
}

.splashHide {
	opacity: 0!important;
}


// GRID
%svt234Container {
	@include clearfix;
	width: 100%;
}
.svt234Container--Almostwhite {
	@extend %svt234Container;
	background: #fdfbed;
}
.svt234Content {
	@include clearfix;
	//max-width: 1300px;
	margin: 0 auto;
	overflow: visible;
	.content-inner {
		max-width: 90%;
		margin: 0 auto;
	}
}

.svt234ContentBlock {
	@extend .svt234Content;
	padding: 40px 0;
}
////// EPG /////

.scrolllist {
  display: block;
  position: relative;
  width: 100%;

  overflow-x: scroll;

  overflow-y: hidden;

  height: 70px;

  .scrolllist__group {
    width: 5000px;
    margin: 0;
    padding: 0;
  }
  .scrolllist__item {
    height: 60px;
    min-width: 300px;
  }
  .scrolllist__item--active {
    background-color: $brand-primary;
    color: #fff;
    font-weight: 800;
  }
}

.media-heading {
	// font-size: 14px;
	color: $gray-darker;

}

.text-meta {
	font-style: italic;
	// color: $gray;
	font-size: 12px;
	color: #7b7b7b;
	font-family: $font-family-serif;
}



///MAIN MENU

.svt234MainMenu {

	// display: none !important;

	float: left;
	position: absolute;
	top: 32px;
	left: 0;
	z-index: 10000;
	&.affix {
		position: fixed;
		top: 0px;
		left: 0px;
	}
	.nav {
		> li {
			width:90px;
			height: 78px;
			background-color: #424242;

			a {
				display: block;
				padding: 17px 0 0;
				width: 100%;
				height: 100%;
				color: #fff;
				text-transform: uppercase;
				font-size: 11px;
				text-align: center;
				border-top: 1px solid #6c6c6c;
			}

			a span {
				display: block;
				padding-bottom: 7px;
			}

			a:hover {
				background-color: #2b2a2a;
			}

			a.active {
				background-color: #1b1a1a;
			}
		}
	}
}

%fixed-square-xs-overlay {
	@include transition(opacity 0.3s ease-out);
	background-image: url('/img/playlist-play-big.png');
		//background-image: linear-gradient(45deg, #45dddd 0%, #45dddd 50%, #05ccd1 51%);
	width: 63px;
	height: 63px;
	border-radius: 63px;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	opacity: 0.8;
}

///
.epg {

  display: block;
  position: relative;
  //width: 100%;
  overflow-x: scroll;
  // overflow: hidden;
  margin-left: 0px;
  //-webkit-box-shadow: inset 0px 4px 2px -2px rgba(0,0,0,0.53);
	//box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.3), inset 0px 2px 5px -2px rgba(0, 0, 0, 0.3);;
  //height: 82px;
  .epg__list {
    width: 10000px;
    margin: 0;
    padding: 0;
  }

  .epg__item {
  	@include transition(padding-bottom 0.1s ease-in-out);
  	position: relative;
    list-style: none;
    background-color: #f7f6f0;
    display: block;
    text-align: center;
    //height: 65px;
    min-width: 200px;
    float: left;
    border-right: 2px solid #fdfbed;
    //border-bottom: 1px solid $btn-default-border;
    //padding: 8px 12px 8px 12px;
    cursor: pointer;

    //box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    /*&:before,
    &:after {
		position: absolute;
		width: 40%;
		height: 10px;
		content: ' ';
		left: 12px;
		bottom: 12px;
		background: transparent;
		-webkit-transform: skew(-5deg) rotate(-5deg);
		transform: skew(-5deg) rotate(-5deg);
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
		z-index: -1;
	}

	&:after
	{
		left: auto;
		right: 12px;
		-webkit-transform: skew(5deg) rotate(5deg);
		transform: skew(5deg) rotate(5deg);
	}*/

	.progress {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		z-index: 50;

		height: 5px;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 0;
	}

	.progress-bar {
		background-color: #35d8da;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
    &:nth-child(odd),
     &:nth-child(odd) .media {
    	background: #f5f4ec;
    }

    &:focus {
      @include tab-focus;
    }

    &:hover,
    &:focus {

	     .media {
	    	background-color: #deefeb;
	    }
      background-color: #deefeb;
      color: $btn-default-color;
      text-decoration: none;
      .fixed-square-xs {
      	width: 50px;
      	padding-top: 6px;
      	.playoverlay {
      		opacity: 1;
      	}
      	.round {
      		opacity: 0;
      	}
      }
      /*.fixed-square-xs::after {
      	@extend %fixed-square-xs-overlay;
      }*/
      .hideit {
			//visibility: hidden;
			opacity: 1;
	    }

    }

    .playoverlay {
    	@include transition(opacity 0.2s ease-out);
    	opacity: 0;
    	position: absolute;
    	top: 50%;
		left: 50%;
		width: 50px;
		margin: -25px 0 0 -25px;
    }

    .media {
    	position: relative;
    	z-index: 10;
    	background-color: #f7f6f0;
    	margin: 0;
    	padding: 8px 12px;
    }

    .media-body {
    	margin: 8px auto 0;
    }

    .info {
    	color: #b9b9b8;
    	font-size: 10px;
    	text-transform: uppercase;
    	display: inline-block;
		margin-bottom: 5px;
		min-height: 12px;
		white-space: nowrap;
    }

    &:first-child {
    	padding-left: 40px;
    }

    &:last-child {
    	padding-right: 40px;
    }

    .hideit {
		//visibility: hidden;
		opacity: 0;
    }

    .title-info {
    	@include transition(opacity 0.2s ease-out);
    	position: absolute;
    	bottom: 10px;
    	left: 0;
    	right: 0;
    	//margin: 24px 0 5px;
		text-align: center;
		padding:0 20px;
		z-index: 5;

		.category {
			display: none;
			font-size: 12px;
			color: #5c5c5c;
			font-weight: bold;
		}

		.episode {
			display: block;
			font-size: 12px;
			color: #7b7b7b;
			text-align: left;
			margin-bottom: 5px;
		}

		.episode-info {
			text-align: left;
			display: block;
			font-size: 12px;
			color: #5c5c5c;
		}
    }
  }

  .epg__item.custom {
    	background-color: #FDFBDF;
    	color: #fff;

  }

  .epg__item.hover_click {
  		background-color: #deefeb;
      	color: $btn-default-color;

      	/*.fixed-square-xs::after {
	      	@extend %fixed-square-xs-overlay;
	      	opacity: .3;
	      }

	   &:hover 	.fixed-square-xs::after {
	      	opacity: .8;
	   }*/
  }

  .epg__item--active,
  .active,
  .epg_item.active,
  & .epg__item.active:nth-child(odd),
  .epg__item.custom.active  {
    background-color: #fafaf8;
    .media {
    	 background-color: #fafaf8;
    }
    &:hover {
      background-color: #deefeb;
      .media {
	    	 background-color: #deefeb;
	    }
    }
    .media-heading {
    }
    .round {
    	//display: none;
    }
    .hidden {
    	display: block!important;
    	visibility: visible!important;
    }
  }

}

.epg-arrows {

	// display: none !important;

	position: absolute;
	z-index: 9999;
	width: 100%;
	top: 30px;
	left: 0;
	a {
		position: absolute;
		display: block;

		text-align: center;

		width: 40px;
		height: 60px;

		color: #fff;
		text-shadow: 0px 0px 6px rgba(0,0,0,0.6);
		// @include single-text-shadow(1px, 1px, 2, 2, rgba(0,0,0,0.4));
		&:hover {
			// color: $link-hover-color;
			text-shadow: 0px 0px 6px $link-color;
		}
	}

	.left {
		float: left;
	}

	.right {
		right: 0px;
	}
}
.progress {
	background-color: rgba(250,250,250,0.9);
	height: 12px;
}

// Classes
.box {
	color: $gray-dark;
	display: block;
	position: relative;
	min-height: 100px;
	padding: $padding-base-vertical $padding-base-horizontal;
	margin-bottom: $line-height-computed;
	background-color: $theme-color-box;
	border-bottom: 5px solid $brand-primary;
	////
	// @include box-shadow();
}

.video-wrapper {
  	// width: 100%;
  	// width:  85%;
	//max-width: $video-max-width;
	margin: 0 auto;


  	position:relative;
  	// background-color: blue;
  	//display: inline-block;
  	// margin: $padding-base-vertical auto;

  .video-wrapper__object {
      width: 100%;
      margin: 0;
      padding: 0;
  }
}

.playcenter {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	display: table;
	width: 6em;
	height: 6em;
	margin-top: -3em;
	margin-left: -3em;
	@include opacity(0.8);
	background-color: #fff;
	@include border-radius(6em, 6em);
	text-align: center;
	.fa {
		display: table-cell;
		vertical-align: middle;
	}
	a {
		&:hover {
			text-decoration: none;
		}
	}
	&:hover {
		@include opacity(1);
	}
}
.playcenter--s {
	width: 4em;
	height: 4em;
	margin-top: -3em;
	margin-left: -2em;
	@include border-radius(2em, 2em);
}
.jsPlayVideo {
	cursor: pointer;
}
// Standards
blockquote p {
	font-family: $font-family-serif;
	font-style: italic;
}

// BEMS
.navbar--tabla {
	border: none;
	min-height: 32px;
	margin-bottom: 0;
	background-color: #ed6160;
	font-size: 14px;
	color: #fff;

	@include border-radius(0px, 0px);

	.inner-header {
		width: 90%;
		margin: 0 auto;
	}
	.navbar-header, .tablachooser-mini {
		height: 32px;
		margin: 0;
		.navbar-nav {
			margin: 0;
			.dropdown {
				float: left;
			}
		}
	}
	.navbar-brand {
		padding: 6px 0 0;
		font-size: 14px;
		font-weight: 500;
		color: #fff;
	}

	.navbar-collapse {
		padding: 0;
	}

	.navbar-nav {
		width: 100%;
		padding: 0;
		& > li {
			border: none;
			color: #fff;

			a, &.heading {
				color: #fff;
				padding-top: 6px;
				padding-bottom: 6px;
			}
			&.heading {
				font-size: 14px;
				font-weight: 500;
				margin-right: 1em;
			}
			a {
				font-weight: 200;
				font-size: 13px;
			}

			&.active a, &.active a:hover, a:hover {
				background-color: #f58988;
				color: #fff;
			}
		}

		.dropdown {

			float: right;

			.dropdown-menu a {

				color: #333;

			}
		}
	}

	.search {
		float: right;
		margin-top: 6px;

		input {
			border: none;
			background: transparent;
			color: #fff;


		}
	}
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
}

.img-responsive--fill {
  width: 100%;
}
.box--hover {
	&:hover {
		color: $gray-darker;
		background-color: darken($theme-color-box, 10%);
		text-decoration: none;
	}
}
.box--jumbo {
	min-height: 250px;
	background-color: $gray-darker;
	color: #FFF;
	h2 {
		font-size: 4em;
	}

}
.box__content-bottom {
	position: absolute;
	bottom: 0;
}

.container--narrowed {
	max-width: 800px;
	padding-right: $padding-small-horizontal;
	padding-left: $padding-small-horizontal;
}

.container--234 {
	max-width: 1800px;
	margin: 0;
	padding:0;
	overflow: hidden;
	/*margin-right: $padding-base-horizontal;
	margin-left: $padding-base-horizontal;*/
}
.vbox {
	padding: $padding-large-vertical 0 $padding-small-vertical 0;
}

// RECOMMENDED LIST
#recommend-list {
	h5 {
		font-size: 14px;
		color: #545454;
	}

	.margin-bottom {
		margin-bottom: 15px;
	}
	.byline {
		font-size: 12px;
	}

	.addToPLaylist {
		color: $link-color;
		float: right;
	}

	.col-sm-3 {
		padding-left:12px;
		padding-right:12px;
	}

	.playcenter--s {
		margin-top: -4em;
		margin-left: -3em;
	}

	&.row {
		margin: 0 -12px;
	}
}

.svt234-h3 {
	font-size: 32px;
	font-weight: 200;
	margin: 0 0 20px;
}


//// Carousel ///
html {
	.carousel-caption {
		position: absolute;
		z-index: 9999;
		text-align: right;
		padding-bottom: 0;
		bottom: -30px;
		right:  0;
		left: 0;
		width: 100%;
		max-width: $video-max-width;
		margin: 0 auto;
		height: 1.5em;
		// background: red;
		// TODO: SHOW BELOW EVEN IF OVERFLOW HIDDEN;
		// display: none !important;

	}
	.carousel-inner {
		//max-width: 90%;
		margin: 0 auto;

		overflow: visible;

		.item {
			// background: $gray-lighter;
		}
		.carousel-inner__videomax {
			cursor: pointer;
			width:  100%;
			//max-width: $video-max-width;
			margin: 0 auto;
			padding: 0;// $padding-large-vertical 0 35px 0;
			// padding: $padding-large-vertical 0 35px 0;
		}
	}

	.carousel-control {
		display: none !important;
		position: absolute;
		top: 50%;
		bottom: 0;
		width: 38px;
		height: 64px;
		margin-top: -32px;
	  	@include opacity(.5);
	  	-webkit-transition: all 0.3s ease-in-out;
			    -moz-transition: all 0.3s ease-in-out;
			    -o-transition: all 0.3s ease-in-out;
			    transition: all 0.3s ease-in-out;

		overflow: hidden;
		&:hover {
			@include opacity(.85);
		}
	  // We can't have this transition here because webkit cancels the carousel
	  // animation if you trip this while in the middle of another animation.
		&.left {
			background: url(/img/arrow-left.png) no-repeat;
			left: 2%;
		}
		&.right {
			background: url(/img/arrow-right.png) no-repeat;
			right: 2%;
		}
	}

	/*.carousel-control {
	  position: absolute;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  width: $carousel-control-width;
	  @include opacity($carousel-control-opacity);
	  font-size: $carousel-control-font-size;
	  color: $carousel-control-color;
	  text-align: center;
	  text-shadow: $carousel-text-shadow;
	  overflow: hidden;
	  // We can't have this transition here because webkit cancels the carousel
	  // animation if you trip this while in the middle of another animation.

	  .circle {
	  	position: absolute;
	  	top: 50%;
	  	margin-top: -4em;
	  	display: table;
	  	width: 600px;
	  	height: 8em;
	  	@include border-radius(4em, 4em);
	  	background: $brand-primary;
	  	.fa {
		  		margin-top: 60px;
		  	}
	  	}



		  // Set gradients for backgrounds
		  &.left {
		    // @include gradient-horizontal($start-color: rgba(0,0,0,.5), $end-color: rgba(0,0,0,.0001));
		    // background-color: #FF0;

		    .circle {
		    	left: auto;
		    	right: 0;
		    	text-align: right;
		    	.fa {

			  	}
			  	i {
			  		font-size: 14px;
			  		font-style: normal;
			  		position: relative;
			  		right: 10px;
			  		top: -8px;
			  		display: none;
			  	}
		    }
		  }
		  &.right {
		    left: auto;
		    right: 0;
		    // @include gradient-horizontal($start-color: rgba(0,0,0,.0001), $end-color: rgba(0,0,0,.5));
		    // background-color: #FF0;

		    .circle {
		    	// nothing special
		    	cursor: pointer;
		    	text-align: left;
		    	.fa {

			  	}
			  	i {
			  		font-size: 14px;
			  		font-style: normal;
			  		position: relative;
			  		left: 10px;
			  		top: -7px;
			  		display: none;
			  	}
		    }
		  }

		  &.test {
			  	// background: pink;
			    -webkit-transition: all 0.3s ease-in-out;
			    -moz-transition: all 0.3s ease-in-out;
			    -o-transition: all 0.3s ease-in-out;
			    transition: all 0.3s ease-in-out;
			}

			&.test:hover{
			    width: $carousel-control-width * 2.2;
			    i {
			    	display: inline !important;
			    }
			}

		  // Hover/focus state
		  &:hover,
		  &:focus {
		    color: $carousel-control-color;
		    text-decoration: none;
		    @include opacity(.9);
		  }
		}
	}*/
}

@media (min-width: $screen-sm-min) {
	// HERE
	body.not-framed .epg, body.not-framed .svt234Content {
  		margin-left: 90px;
  	}
}
@media (max-width: $screen-xs-max) {
	// HERE

	html body .carousel-inner {
		max-width: 100%;
		width: 100%;
		.carousel-inner__videomax {
			max-width: 100%;
			width: 100%;
		}
	}

}